body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: 'Montserrat-Black';
}

h2 {
  font-family: "Montserrat-Bold";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Nav Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  margin: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
}

/* Download Button */
/* End at Lecture 72, 14 minutes */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  z-index: 0;
  right: 30%;
}

/* Features */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-row p {
  color: #8f8f8f;
  padding: 0 5%;
}

.feature-row i {
  color: #ef8172;
  font-size: 3rem;
  margin: 1rem;
}

.feature-row i:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-inner {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

.price-column {
  padding: 3% 2%;
}

/* CTA Section */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 5% 10%;
}

#cta h3 {
  font-family: "Montserrat-Black";
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
}

#cta button {
  margin: 5% 1%;
}

/* Footer Section */
#footer {
  text-align: center;
}

#footer i {
  margin: 5% 1% 2%;
}

/* Responsive Viewport */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0deg)
  }
}
